{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <title>Poker Online | {{ request.user }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
<div ng-app="dashboardModule"></div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Poker Online</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Profile</a></li>
        <li><a href="#"></a></li>
        <li><a href="#">Analytics</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center">
</div>
  <div class="row content">
    <div class="col-sm-3 sidenav">
    <!-- load stats through angular -->
    	{{ request.user }}
      email id
      points
      best hand
      highest pot
      what not
    </div>
    <div class="col-sm-9 text-left">
      <a href="/newgame" target="_blank"><button class="btn-xlarge">Single Player</button></a>
      <button class="btn-xlarge">Multiplayer Player</button>
    </div>
    <!-- <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div> -->
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer/ contact/ site map and what not </p>
</footer>

</body>
</html>
